.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 16px;
  background: rgba(15, 15, 15, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.header .left {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  animation: rotateLogo 12s linear infinite;
}

.title {
  font-size: 20px;
  color: white;
}

.profile-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

